body {
    background-color: #10375C;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.about {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: 1.5rem;
    background-color: #19478d;
    margin-top: 1.5rem;
    font-size: 1.5em;
    overflow: auto;
    max-width: 86%;
}   

.opacity {
    font-size: 1rem;
    opacity: 0.5;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 65% ;
    gap: 15px;
}

.experience {
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #19478d;
    margin-top: 1.5rem;
    font-size: 1.4em;
    margin-right: 2rem;
    overflow: auto;

}
.contact {
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #19478d;
    font-size: 1.4em;
    margin-right: 2rem;
    grid-row: 2 / 2;
    margin-left: 1.5rem;
    overflow: auto;
    height: 80%;
    
}

.education {
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #19478d;
    font-size: 1.5em;
    margin-right: 2rem;
    overflow: auto;
}


.from {
    font-size: 1rem;
    opacity: 0.5;
}

.title {
    color: #F3C623;
}

.experience:hover  {
    background: #115ca1;
    cursor: pointer;
}

.contact:hover {
    background: #115ca1;
    cursor: pointer;
}

.about:hover {
    background: #115ca1;
    cursor: pointer;
}

.education:hover {
    background: #115ca1;
    cursor: pointer;
}

