*, *::before, *::after { box-sizing: border-box;}

body {
    background-color: #424242;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-image: url(connectwork.webp);
}

.about {
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 20px;
    background-color: #229799;
    margin-top: 40px;
    font-size: 1.5em;
    overflow: auto;

}   

.opacity {
    font-size: 1rem;
    opacity: 0.5;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    gap: 15px;
    margin-bottom: 20px;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 15px;
}

.experience {
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 20px;
    background-color: #229799;
    margin-top: 40px;
    font-size: 1.5em;
    overflow: auto;
    margin-right: 20px;
}
.contact {
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 20px;
    background-color: #229799;
    margin-top: 30px;
    font-size: 1.5em;
    overflow: auto;
    
}

.education {
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 20px;
    background-color: #229799;
    margin-top: 30px;
    font-size: 1.5em;
    overflow: auto;
    margin-right: 20px;
}


.from {
    font-size: 1rem;
    opacity: 0.5;
}

.title {
    color: #424242;
}

.experience:hover  {
    background: #48CFCB;
    cursor: pointer;
}

.contact:hover {
    background: #48CFCB;
    cursor: pointer;
}

.about:hover {
    background: #48CFCB;
    cursor: pointer;
}

.education:hover {
    background: #48CFCB;
    cursor: pointer;
}
 